body{
	background-color: black;
	color:#fff;
}

	.page-header{
	    margin-top: 10px;
	    margin-bottom: 30px;
	    border-bottom: 3px solid #f4e822;
}
.servicios{
	margin-top: 20px;
border-top: 3px solid #f4e822;

}
ul li{
list-style:none;
}